$main-color: #062348;
$accent-color: #f86124;
$accent-color-2: #a5a6a5;
$text-color: #f8f8ff;

body{

}

a:not(.nav-link){
  color: $accent-color;
  text-decoration: none;
  &.btn{
    border-color: $accent-color;
    &:hover{
      background: $accent-color;
      color: $text-color;
    }
  }
  &:hover{
    color: darken($accent-color,10);
  }
}
.list-group-item.active{
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}
.services__list .list-group-item{
  background-color: $accent-color;
  color: $text-color;
  &:hover, &:focus{
    background-color: lighten($accent-color, 2);
    color: $text-color;
  }
}
.modal-content{
  border: 0;
}
.modal-header, .modal-footer{
  background-color: $main-color;
  color: $text-color;
  .close{
    color: $text-color;
  }
}

.covid-update{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px $accent-color-2);
  svg[data-icon='circle']{
    transition: all .5s ease-in-out;
  }
  &:hover{
    svg[data-icon='circle']{
      color: $accent-color;
    }
  }
}
